<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Three Selectif</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/styles/game.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

<body>

  <section id="loading-screen">

    <div id="loader"></div>

  </section>

  <!------- MENU CIRCULAIRE ------->

  <div id="circularMenu" class="circular-menu">

    <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
      <i class="fas fa-recycle"></i>
    </a>

    <menu class="items-wrapper">
      <a href="/settings" class="menu-item fa fa-cog"></a>
      <a href="/ytb" class="menu-item fab fa-youtube"></a>
      <a href="/signup" class="menu-item fa fa-user"></a>
      <a href="/" class="menu-item fa fa-home"></a>
    </menu>
  </div>

  <!--COOLDOWN-->

  <div id="timer">
  </div>


  <!--INVENTAIRE-->
  <div class="Inventaire" id="inventaire">
    <div class="slot" id="slot1">
      <div class="TexteSlot" id="texteSlot1">
      </div>
      <div class="countSlot" id="countSlot1">
      </div>
      <div class="AlignVertical" id="alignVertical">
      </div>
    </div>
    <div class="slot" id="slot2">
      <div class="TexteSlot" id="texteSlot2">
      </div>
      <div class="countSlot" id="countSlot2">
      </div>

      <div class="AlignVertical" id="alignVertical">
      </div>
    </div>
    <div class="slot" id="slot3">
      <div class="TexteSlot" id="texteSlot3">
      </div>
      <div class="countSlot" id="countSlot3">
      </div>
      <div class="AlignVertical" id="alignVertical">
      </div>
    </div>
    <div class="slot" id="slot4">
      <div class="TexteSlot" id="texteSlot4">
      </div>
      <div class="countSlot" id="countSlot4">
      </div>
      <div class="AlignVertical" id="alignVertical">
      </div>
    </div>
    <div class="slot" id="slot5">
      <div class="TexteSlot" id="texteSlot5">
      </div>
      <div class="countSlot" id="countSlot5">
      </div>
      <div class="AlignVertical" id="alignVertical">
      </div>
    </div>
    <div class="slot" id="slot6">
      <div class="TexteSlot" id="texteSlot6">
      </div>
      <div class="countSlot" id="countSlot6">
      </div>
      <div class="AlignVertical" id="alignVertical">
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/92/three.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
  <script src="/static/assets/libs/inflate.min.js"></script>
  <script src="/static/assets/libs/FBXLoader.js"></script>

  <script src="/static/js/index.js" type="module"></script>
</body>

</html>