<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/static/styles/style.css">
  <link rel="stylesheet" href="/static/styles/usercss/user.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/threeselect.png">
  <title>Three Sélectif</title>
</head>

<body>
  <!------- MENU CIRCULAIRE ------->
  <div id="circularMenu" class="circular-menu">

    <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
      <i class="fas fa-recycle"></i>
    </a>

    <menu class="items-wrapper">
      <a href="/settings" class="menu-item fa fa-cog"></a>
      <a href="/ytb" class="menu-item fab fa-youtube"></a>
      <a href="/signin" class="menu-item fa fa-user"></a>
      <a href="/" class="menu-item fa fa-home"></a>
    </menu>
  </div>

  <div class="align">

    <div class="grid align__item">

      <div class="register">

        <svg xmlns="http://www.w3.org/2000/svg" class="site__logo" width="56" height="84" viewBox="77.7 214.9 274.7 412">
          <defs>
            <linearGradient id="a" x1="0%" y1="0%" y2="0%">
              <stop offset="0%" stop-color="#8ceabb" />
              <stop offset="100%" stop-color="#378f7b" />
            </linearGradient>
          </defs>
          <path fill="url(#a)" d="M215 214.9c-83.6 123.5-137.3 200.8-137.3 275.9 0 75.2 61.4 136.1 137.3 136.1s137.3-60.9 137.3-136.1c0-75.1-53.7-152.4-137.3-275.9z" />
        </svg>

        <h2>Sign Up</h2>
        <% if(msg != ''){ %>
        <p style="text-align: center"> <%= msg %></p>
        <% } %>
        <form action="" method="post" class="form">

          <div class="form__field">
            <input type="text" name="uname" placeholder="ACoolUsername">
          </div>

          <div class="form__field">
            <input type="password" name="password" placeholder="password">
          </div>

          <div class="form__field">
            <input type="submit" name="submit" value="Sign In">
          </div>

        </form>

        <p>Pas encore de compte ? <a href="/signup">Créez en un !</a></p>
      </div>
    </div>
  </div>
</body>

</html>