# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\multi-player\nodeapps\node\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
